<ahoy-card>
  <!-- Meta Data should be handled from i18n or any other localization module -->
  <ahoy-card-header title="Covid 19 Search and Results"></ahoy-card-header>
  <ahoy-card-body>
    <ahoy-search (onReceiveResults)="onReceiveResults($event)"></ahoy-search>

    <div class="row">
      <div class="col-12">
        <ng-template ngFor let-case [ngForOf]="results" let-i="index">
          <section class="p-5">
            <h3>{{case.name}}</h3>
            <ahoy-charts [results]="case.data"></ahoy-charts>
          </section>
        </ng-template>
      </div>
    </div>
  </ahoy-card-body>
  <!-- <ahoy-card-footer></ahoy-card-footer> -->
</ahoy-card>