<form [formGroup]="covidSearchForm" (submit)="onSubmit()" class="needs-validatahoy-codiv lion row mb-5" novalidate>
  <div ahoy-col class="col-10">
    <label for="country" class="form-label">country</label>
    <select id="country" name="country" class="form-control" formControlName="country">
      <ng-template ngFor let-country [ngForOf]="countryList" let-i="index">
        <option [value]="country.name">{{country.name}}</option>
      </ng-template>
    </select>
  </div>

  <div ahoy-col class="col-2 mt-auto">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>

  <div
    *ngIf="isSubmited && covidSearchForm.controls.country.invalid && covidSearchForm.controls.country.errors!['required']">
    <div class="invalid-feedback d-block">
      please select from country list
    </div>
  </div>
</form>
